{{define "cart"}}
<div id="fire" class="fire" border='0'>
    <img src="/static/img/fire.gif">
</div>

<div id="cart" class="cart" border='0'>
    <img src="/static/img/cart.gif">
</div>

<div id="book" class="book" border='0'>
    <img src="/static/img/book.gif">
</div>

<style>
    .fire {
        position: absolute;
        left: 10px;
        top: 20%;
    }
    
    .cart {
        position: absolute;
        left: 20%;
        top: 20%;
    }
    
    .book {
        position: absolute;
        right: 20%;
        top: 20%;
    }
</style>

{{end}}