{{define "gameview"}}
<link rel="stylesheet" href="/static/css/outside.css">
<div class="show"></div>
<div id="pane">
    <div class="box" id="box" border='0' class="character">
        <img src="/static/img/{{.guys.Color}}.png">
    </div>

    <div id="box2" class="d box2">
        <img src="/static/img/question.png">
    </div>
    <div id="box3" class="d box3">
        <img src="/static/img/houserock.gif">
    </div>

    <div id="box4" class="d box4">
        <img src="/static/img/homeserver.gif">
    </div>

    <div class="wall wall-pos">
    </div>
</div>
<!-- end of panel -->
<!--Creates the popup body-->
<div class="popup-overlay" style="position: absolute;top: 1%;">
    <!--Creates the popup content-->
    <div class="popup-content">
        {{ template "questions" . }}
        <!--popup's close button-->
        <button class="close">Close</button>
    </div>
</div>

<!--Creates the popup body-->
<div class="popup-overlayrock" style="position: absolute;top: 1%;">
    <!--Creates the popup content-->
    <div class="popup-contentrock">
        {{ template "rock" . }}
    </div>
</div>
<!--Creates the popup body-->
<div class="popup-overlayserver" style="position: absolute;top: 1%;">
    <!--Creates the popup content-->
    <div class="popup-contentserver">
        {{ template "server" . }}
    </div>
</div>
{{end}}