{{ template "header" . }}
<ul id="messages"></ul>
<div class="guy">guy</div>
<!-- closest -->
<div class="cont">
    <div class="guy1"></div>
    <div class="guy2"></div>
    <div class="guy3"></div>
</div>
<div class="name">
    <input class="names" name="name" type="text">
</div>
<a class="outsides" href="/#">
    <div class="outside">Outside</div>
</a>
<style>
    .name {
        position: absolute;
        top: 20%;
    }
    
    .outside {
        position: absolute;
        bottom: 20%;
        left: 50%;
        padding: 5px;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(static/img/door.png);
    }
    
    .guy {
        padding: 5px;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(static/img/down.gif);
    }
    
    .cont {
        display: flex;
        height: 300px;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .guy1 {
        background-image: url(static/img/gophers.png);
    }
    
    .guy2 {
        background-image: url(static/img/ggreen.png);
    }
    
    .guy3 {
        background-image: url(static/img/gred.png);
    }
    
    .guy1,
    .guy2,
    .guy3 {
        padding: 5px;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .guy {
        position: absolute;
        top: 10%;
        left: 50%;
    }
</style>
<style>
    .cb__list {
        padding: 0;
        list-style-type: none;
        font-family: sans-serif;
        width: 320px;
        margin: 0 auto;
        overflow: hidden
    }
    
    .cb__list .bubble {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        display: inline-block;
        line-height: 1.45em;
        border-radius: 3px;
        margin: 0 0 1em;
        text-align: left;
        position: relative;
        padding: 6px 12px;
        background: #fff;
        font-size: 19px;
        border: none;
        max-width: 90%;
        min-width: 44px;
        min-height: 12px
    }
    
    .cb__list .bubble.typing {
        animation: cb-font-fade 1.2s ease-in-out infinite
    }
    
    @keyframes cb-font-fade {
        50% {
            color: transparent
        }
        100% {
            color: "inherit"
        }
    }
</style>
<script>
    ;
    (function($, window, document, undefined) {
        var chatBubble = "chatBubble",
            defaults = {
                typingSpeed: 40, // speed in words per minute
                delay: 1000 // delay between adding messages
            };

        function Plugin(element, options) {
            this.element = element;
            this.options = $.extend({}, defaults, options);
            this._defaults = defaults;
            this._name = chatBubble;

            this.init();
        }

        Plugin.prototype = {

            init: function() {
                var self = this;

                $(self.element).addClass('cb__list');

                var messages = this.options.messages;
                var count = messages.length;
                var typingSpeed = this.options.typingSpeed || this.defaults.typingSpeed;
                var delay = this.options.delay || this.defaults.delay;

                var i = 0;

                function addMessage() {
                    self.addMessage(self.element, messages[i], typingSpeed).then(function() {
                        window.setTimeout(function() {
                            i++;
                            if (i < count) addMessage();
                            window.setTimeout(function() {
                                $('#messages li:nth-child(' + i + ')').children().remove();
                                if (i == 1) {
                                    //$('#messages').append('<a href="/town"><center><h2>Lets go to town!</h2></center></a>');
                                }
                            }, 3000);
                        }, delay);
                    });
                }

                addMessage();
            },

            addMessage: function(el, message, typingSpeed) {

                var $listItem = $('<li></li>');
                var $bubble = $('<div class="bubble typing">...</div>');
                var words = message.split(' ').length;
                var speed = (words / typingSpeed) * 6000;

                if (speed < 1000) speed = 1000;
                if (speed > 10000) speed = 10000;

                $listItem.html($bubble);
                $(el).append($listItem);

                return new Promise(function(resolve, reject) {
                    window.setTimeout(function() {
                        $bubble.html(message).removeClass('typing');
                        resolve(true);

                    }, speed);

                });
            }
        };

        $.fn[chatBubble] = function(options) {
            return this.each(function() {
                if (!$.data(this, "plugin_" + chatBubble)) {
                    $.data(this, "plugin_" + chatBubble,
                        new Plugin(this, options));
                }
            });
        };

    })(jQuery, window, document);


    setTimeout(function() {
        if ($('.guy').offset().top > 250) {
            var messages = ['This is your home now',
                'Please choose your look'
            ]
            $('#messages').chatBubble({
                messages: messages,
                typingSpeed: 40,
                delay: 1000
            });
        }
    }, 9500);
    $('.guy').animate({
        "top": "50%"
    }, 9300);
    var guy = $(".guy");
    guy.color;

    $(".guy1").click(function() {
        guy.addClass("guy1");
        guy.removeClass("guy2");
        guy.removeClass("guy3");
        guy.color = "gophers";
    });
    $(".guy2").click(function() {
        guy.addClass("guy2");
        guy.removeClass("guy1");
        guy.removeClass("guy3");
        guy.color = "ggreen";
    });
    $(".guy3").click(function() {
        guy.addClass("guy3");
        guy.removeClass("guy1");
        guy.removeClass("guy2");
        guy.color = "gred";
    });
    $('.outsides').click(function() {
        guy.name = $(".names").val();
        console.log(guy.name, guy.color);
        $('.outsides').attr("href", "/outside/" + guy.color + "/" + guy.name);
    });
</script>

{{ template "footer" . }}