{{define "server"}}
<div style="background:#a3a1a147">
    <div class="watch">
        <span>
        <div style="width:20%;height:4em;border:1px solid black;">dsfs</div>
        </span>
    </div>
</div>
<style>
    .buttons {
        width: 100%;
        margin: 0 auto;
    }
    
    .buttons button {
        float: left;
        width: 49%;
    }
</style>
{{end}}