#pane {
    position: relative;
    width: 100%;
    height: 400px;
    border: 2px solid red;
}

#box {
    position: absolute;
    top: 140px;
    left: 20%;
    width: 20px;
    height: 20px;
    border: solid 1px black;
}

.box {
    position: absolute;
    top: 140px;
    left: 20%;
    width: 20px;
    height: 20px;
    border: solid 1px black;
}

.box img {
    width: 120%;
}

.character img {
    width: 153%;
}

.box2 {
    position: absolute;
    top: 10px;
    left: 20%;
    width: 50px;
    height: 50px;
    border: solid 1px black;
}

.box2 img {
    width: 74%;
    position: absolute;
    top: -13px;
}

.box3 {
    position: absolute;
    top: 10px;
    left: 30%;
    width: 50px;
    height: 50px;
    border: solid 1px black;
}

.box3 img {
    width: 74%;
    position: absolute;
    top: -13px;
}

.box4 {
    position: absolute;
    top: 20px;
    left: 10%;
    width: 50px;
    height: 50px;
    border: solid 1px black;
}

.box4 img {
    width: 74%;
    position: absolute;
    top: -13px;
}

.box5 {
    position: absolute;
    top: 20px;
    left: 10%;
    width: 40px;
    height: 40px;
    border: solid 1px black;
}

.box5 img {
    width: 120%;
}

.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    display: none;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    width: 50%;
    height: 50%;
    left: 25%;
}

.popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    display: block !important;
    text-align: center;
    width: 71%;
    height: 30em;
    left: 1%;
    z-index: 9999;
}

.popup-content {
    /*Hides pop-up content when there is no "active" class */
    display: none;
}

.popup-content.active {
    /*Shows pop-up content when "active" class is present */
    display: block !important;
}

.popup-contentrock {
    /*Hides pop-up content when there is no "active" class */
    display: none;
}

.popup-contentrock.active {
    /*Shows pop-up content when "active" class is present */
    display: block !important;
    left: 21%;
    margin: 0 auto;
    border-radius: 12px;
    background: white;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popup-contentserver {
    /*Hides pop-up content when there is no "active" class */
    display: none;
}

.popup-contentserver.active {
    /*Shows pop-up content when "active" class is present */
    display: block !important;
    left: 21%;
    margin: 0 auto;
    border-radius: 12px;
    background: white;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
}

button:hover {
    border: 1px solid #666666;
    background: #666666;
    color: #ffffff;
}

.wall {
    position: absolute;
    width: 200px;
    background: purple;
    height: 10px;
}

.wall-pos {
    top: 50px;
    left: 50px;
}