.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}


.flex-item {
  padding: 5px;
  width: 30%;
  height: 150px;
  margin-top: 10px;
  font-weight: bold;
}

p{
  display: flex;
  justify-content: center; 
  align-items: center;
  text-justify: inter-word;
  width: 100%;
}
.tj{
   text-align: justify;

}
a{
  text-decoration: none !important;
  color:black;
}
@media all and (max-width: 600px) {
  .flex-item {
  width:100%;
  height:71em;
  }
}
