{{ template "header" . }}
<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-profile-tab">
    <p style="padding:2%;margin:2%;">
        IF you want to contact me just send me a lead.
    </p>
    <form style="padding:2%;margin:2%;" action="/processform" method="POST">
        <label for="username">Name</label>
        <input type="text" id="username" name="name" value="jim smith"><br>
        <label for="password">Email</label>
        <input type="text" id="email" name="email" value="jim@yahoo.com">
        <label for="password">Information</label>
        <input type="text" id="info" name="info" value="info">
        <input type="submit" value="Submit">
    </form>
</div>
{{if .all}} {{.all}} {{end}} {{ template "footer" . }}