{{ template "header" . }}
<div class="box"><img style="border-radius: 141px;margin: 0 auto;" src="/static/img/me.png" alt=""></div>
<p>Hi my name is zach and this is my site. Please If you are interested in Go and want to build a website with me let me know.</p>


<ul class="flex-container">
    <li class="flex-item "><a class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="These are resources!" href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit?usp=sharing" target="_blank"><i class="fas fa-book"></i></a></li>
    <li class="flex-item"><a class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="My Twitter" href="https://twitter.com/ZacharyEndrulat" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="flex-item"><a class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="My Linkedin" href="https://www.linkedin.com/in/zach-endrulat-1004b7173/" target="_blank"><i
        class="fab fa-linkedin-in"></i></a></li>
    <li class="flex-item"><a class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="My Youtube" href="https://www.youtube.com/channel/UCHJlAqTCdlN_bjUx-1_CPmg/playlists" target="_blank"><i class="fab fa-youtube"></i></a></li>
    <li class="flex-item"><a class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="My Blog" href="https://zegolang.blogspot.com" target="_blank"><i class="fab fa-blogger-b"></i></a></li>
    <!-- <li class="flex-item"><a class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="My messanger app" href="/mes" target="_blank"><i class="far fa-comment-dots"></i></a></li> -->
    <li class="flex-item"><a class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="My Git Repo" href="https://gitlab.com/zendrulat123/zeg" target="_blank"><i class="fab fa-git-square"></i></a></li>
    <li class="flex-item"><a class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="A form if you want to get a hold of me" href="/form"><i class="far fa-file-alt"></i></a></li>
</ul>


<style>
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
    }
    
    .box img {
        width: 100px;
        height: 114px;
        -webkit-box-shadow: 1px 3px 15px -3px #000000;
        box-shadow: 1px 3px 15px -3px #000000;
    }
    
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .flex-item {
        padding: 5px;
        width: 100px;
        height: 100px;
        margin-top: 10px;
        line-height: 150px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
</style>
{{ template "footer" . }}