{{ template "header" . }}

<p id="output"></p><br>
<p id="outputs"></p>
<div id="pane">
    {{.Clients}}
    <div id="box" border='0' class="character">
        <img src="/static/img/{{.guys.Color}}.png">
    </div>
    <div id="box2" border='0' class="character2">
        <img src="/static/img/{{.guys.Color}}.png">
    </div>
    <div class="box2">
        <img src="/static/img/question.png">
    </div>

</div>
<!-- end of panel -->


<!--Creates the popup body-->
<div class="popup-overlay" style="position: absolute;top: 1%;">
    <!--Creates the popup content-->
    <div class="popup-content">
        {{ template "questions" . }}
        <!--popup's close button-->
        <button class="close">Close</button>
    </div>
</div>


<script>
    //store stuff
    var pane = $('#pane'),
        box = $('#box'),
        boximg = $('#box img'),
        box2 = $('.box2'),
        wh = pane.width() - box.width(),
        wv = pane.height() - box.height(),
        d = {},
        x = 5;

    box.css("top", "0%");
    box.css("left", "0%");

    box2.css("top", "0%");
    box2.css("left", "90%");

    $(".close").on("click", function() {
        box.css("top", "0%");
        box.css("left", "0%");
        $(".popup-overlay, .popup-content").removeClass("active");
    });
    //ensure limits
    function newh(v, a, b) {
        var n = parseInt(v, 10) - (d[a] ? x : 0) + (d[b] ? x : 0);
        return n < 0 ? 0 : n > wh ? wh : n;
    }

    function newv(v, a, b) {
        var n = parseInt(v, 10) - (d[a] ? x : 0) + (d[b] ? x : 0);
        return n < 0 ? 0 : n > wv ? wv : n;
    }



    //keys
    $(window).keydown(function(e) {
        switch (e.which) {
            case 39: // right
                boximg.attr('src', "/static/img/walk.gif");
                break;
            case 38: // up
                boximg.attr('src', "/static/img/up.gif");
                break;
            case 37: // left
                boximg.attr('src', "/static/img/back.gif");
                break;
            case 40: // down
                boximg.attr('src', "/static/img/down.gif");
                break;
            default:
                boximg.attr('src', "/static/img/glogo.gif");
        }
        d[e.which] = true;
    });
    $(window).keyup(function(e) {
        d[e.which] = false;
    });
    //obj1 obj2 popup
    function coll(o, o2, p) {
        i = 20;
        bf = o.offset();
        bf2 = o2.offset();

        if ((bf.left - i) < bf2.left && (bf.left + i) > bf2.left && (bf.top - i) < bf2.top && (bf.top + i) > bf2.top) {
            //crash
            $(p).addClass("active");
            console.log("crash");
        } //end of collision

    }
    //repaint
    setInterval(function() {
        //keys
        box.css({
            left: function(i, v) {
                return newh(v, 37, 39);
            },
            top: function(i, v) {
                return newv(v, 38, 40);
            }
        });
        //sizes
        wh = pane.width() - box.width();
        wv = pane.height() - box.height();
        //actions
        coll(box, box2, ".popup-overlay, .popup-content");

    }, 90); //end of repaint

    setInterval(function() {
        var b1 = box.offset();
        var bf1right = b1.left + box.outerWidth();
        var bf1bottom = b1.top + box.outerHeight();
        var guyoff = [b1.left, b1.top, bf1right, bf1bottom]

        ggoff = {
            left: b1.left,
            top: b1.top,
            right: bf1right,
            bottom: bf1bottom,
            ClientID: id
        }

        var gj = JSON.stringify(ggoff);
        var gj2 = JSON.parse(gj);

        ws.send(gj); //send off as json

    }, 1000); //end of repaint
    //sockets

    var loc = window.location;
    var uri = 'ws:';

    if (loc.protocol === 'https:') {
        uri = 'wss:';
    }
    uri += '//' + loc.host + "/ws";
    uri += loc.pathname;
    //  uri += loc.pathname + 'ws';

    ws = new WebSocket(uri);

    ws.onopen = function() {
        console.log('Connected')
    }

    var id;
    var clientids = [];
    var ids = {
        clid: 0,
        left: 0,
        top: 0,
    }


    ws.onmessage = function(evt) {
        var out = document.getElementById('output');

        // console.log("before string - " + evt.data);

        var client = jQuery.parseJSON(evt.data);
        console.log(client);
        // out.innerHTML = client;
        var out = document.getElementById('outputs');
        out.innerHTML = "<p>ClientID: " + client.id +
            " Poolid:" + client.poolid + " Points:" + client.points + "<br>left:" + client.left + ' top:' +
            client.top + ' right:' + client.right +
            ' bottom:' + client.bottom + "</p>";

        //getting clientid from string
        // var result = client.substring(client.lastIndexOf(":") + 1);
        // var new_str = result.substring(0, result.indexOf("}"));
        // var clientid = new_str.substring(new_str.lastIndexOf(":") + 1);



        if (evt.data) {
            //getting left and right from message
            // var clients = JSON.stringify(evt.data);
            // var left = clients.split('"{\\\\\\"left\\\\\\":').pop().split(',')[0]; // returns 'two';
            // var newtop = clients.split('\\\\\\"top\\\\\\":').pop().split(',')[0]; // returns 'two';
            // var top = newtop.substring(0, newtop.indexOf("}"));

            //console.log("left:", left, " top:", top, " clientid:", clientid);
            // if (!Object.values(ids).indexOf(clientid) >= 0) {
            //     ids.left = left;
            //     ids.top = top;
            //     ids.clid = clientid;
            //     clientids.push(ids);

            // }
            //console.log(clientids);

            // console.log("after string - "+evt.data);
            // //left
            // a = evt.data.split(",")[0];
            // //top
            // var arr = evt.data.split(",");
            // var fst = arr.splice(arr.indexOf(","), 1).join("");
            //take left and top and move it

            // console.log(evt.data.left, evt.data.top, evt.data.clientid);
            box2.css("position", "absolute").
            animate({
                "top": evt.data.top,
                "left": evt.data.left,
                "right": evt.data.right,
                "bottom": evt.data.bottom,

            });
            id = evt.data.clientid;
            box2.append(evt.data.clientid);
        }
    }
</script>
<style>
    #pane {
        position: relative;
        width: 100%;
        height: 400px;
        border: 2px solid red;
    }
    
    #box {
        position: absolute;
        top: 140px;
        left: 20%;
        width: 20px;
        height: 20px;
        border: solid 1px black;
    }
    
    .character img {
        width: 153%;
    }
    
    .box2 {
        position: absolute;
        top: 10px;
        left: 20%;
        width: 20px;
        height: 20px;
        border: solid 1px black;
    }
    
    .box2 img {
        width: 120%;
    }
    
    .popup-overlay {
        /*Hides pop-up when there is no "active" class*/
        visibility: hidden;
        position: absolute;
        background: #ffffff;
        border: 3px solid #666666;
        width: 50%;
        height: 50%;
        left: 25%;
    }
    
    .popup-overlay.active {
        /*displays pop-up when "active" class is present*/
        visibility: visible;
        text-align: center;
        width: 71%;
        height: 30em;
        left: 1%;
    }
    
    .popup-content {
        /*Hides pop-up content when there is no "active" class */
        visibility: hidden;
    }
    
    .popup-content.active {
        /*Shows pop-up content when "active" class is present */
        visibility: visible;
    }
    
    button {
        display: inline-block;
        vertical-align: middle;
        border-radius: 30px;
        margin: .20rem;
        font-size: 1rem;
        color: #666666;
        background: #ffffff;
        border: 1px solid #666666;
    }
    
    button:hover {
        border: 1px solid #666666;
        background: #666666;
        color: #ffffff;
    }
</style>




{{ template "footer" . }}